<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ltd.newbee.mall.newbeemall.dao.CheckGoodsMapper">
	
	<resultMap id="BaseResultMap"
		type="ltd.newbee.mall.newbeemall.entity.CheckGoods">
		<id column="userId" jdbcType="INTEGER" property="userId" />
		<id column="goods_id" jdbcType="VARCHAR" property="goodsId" />
		<result column="check_date" jdbcType="INTEGER" property="checkDate" />
	</resultMap>
	
	
	<select id="findCheckGoodsByUserId"
		resultMap="BaseResultMap">
		select *
		from rescent_check_goods
		where user_id =
		#{userId,jdbcType=BIGINT}
		order by check_date desc
		limit #{number}
	</select>
</mapper>