<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ltd.newbee.mall.newbeemall.dao.GoodsImageMapper">
	<select id="findGoodsImagesByGoodsId"
		resultType="ltd.newbee.mall.newbeemall.entity.GoodsImage">
		SELECT goods_id,image,goods_rank 
		FROM goods_image 
		WHERE goods_id =#{goodsId}
		ORDER BY goods_rank
	</select>

</mapper>